<script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    i = 0;
    $('.menuAc').css({
      'color': 'rgba(52, 152, 219, 1)'
    });
    $('.menuAc').click(function(){
      $(this).next('.menuMobil').animate({width:'toggle'},350);
      if (i%2==0) {
        $('.footer').css({
          'filter'         : 'blur(5px)'
        });
        $('.programlar').css({
          'filter'         : 'blur(5px)'
        });
        $('.ust').css({
          'filter'         : 'blur(5px)'
        });
        $('ul.menu').css({
          'animation-duration': '0.1s'
        });
        i++;
      }
      else {
        $('.footer').css({
          'filter'         : 'blur(0px)'
        });
        $('.programlar').css({
          'filter'         : 'blur(0px)'
        });
        $('.ust').css({
          'filter'         : 'blur(0px)'
        });
        i++;
      }

    });
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
    $.goup({
        trigger: 500,
        bottomOffset: 10,
        locationOffset: 20,
        containerRadius: 0,
        containerColor: '#fff',
        arrowColor: '#000',
        goupSpeed: 'normal'
    });
});
</script>

<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google.analytics }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103609247-1', 'auto');
  ga('send', 'pageview');

</script>
