<!DOCTYPE html>
<html>
  {% include head-home.html %}
  <body>
    {% include scripts.html %}
    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="main-center">
      <div class="baslik">
        {{ site.title }}
      </div>
      <div class="orta">
        <div class="ortala">
          <div class="resim">
            <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
          </div>
          <div class="pc">
            {% include nav-home.html %}
          </div>
          <div class="aciklamalar">
            {{ site.bio }}
          </div>
        </div>
      </div>
      {% include social-links.html %}
    </div>
  </body>
</html>
