<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include scripts.html %}
    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    {% include site-header.html %}
    <div class="ortalaAna">
      <div class="yazilar">
        <div class="yazi">
          <div class="ustr">
            <h2>{{ page.title }}</h2>
            <div class="yazibilgisi">
              {{ page.date | date_to_string }}.
            </div>
          </div>
          <hr>
          <div class="content">
            {{ content }}
            
            {% if page.source_code %} <a href='{{ page.source_code }}' class="btn btn-theme" >Source Codes</a> {% endif %}
            {% if page.project_url %} <a href='{{ page.project_url }}' class="btn btn-theme" >Go To Application</a> {% endif %}
          </div>
        </div>
        {% include disqus_comments.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
