<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include scripts.html %}
    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="ust">
      <div class="ortalaAna">
        <div class="baslikAna">
          {{ site.title }}
        </div>

        <div class="pc">
          {% include nav.html %}
        </div>
      </div>
    </div>
    <div class="ortalaAna">
      <div class="yazilar">
        <div class="yazi">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- R1 -->
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1746793611373653"
            data-ad-slot="9217519248"
            data-ad-format="auto"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <div class="yazi">
          <div class="ustr">
            <h2>{{ page.title }}</h2>
            <div class="yazibilgisi">
              {{ page.date | date_to_string }} tarihinde yayınlandı.
            </div>
          </div>
          <hr>
          <div class="content">
            {{ content }}
          </div>
        </div>
        {% include disqus_comments.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
